body,html {
  margin: 0;
  padding: 0;
}

.link-margin {
  margin-left: 3em;
  margin-bottom: 3em;
}

.container {
  vertical-align: middle;
  text-align: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.container-2 {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  vertical-align: middle;
}

.header {
  font-size: 3em;
}

.link {
  color: black;
  border-radius: 25px;
  padding-top: 0.02em;
}